body{
    margin: 0px;
}
#imagepart{
    
    background-image:URL(https://s3-alpha-sig.figma.com/img/1ca8/a666/37aa17d7080da3224dc200ed1db1e95f?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Pr5ypFGTPIftkZPWOE5ki6uu2Yp30o2WZyOYtDzMvvC5L-S3EbAW4oCXMP7PfLEn7vUE9WqqO0-avwqZnxSdVEBppmQlCaXy1-KcecMi5KPy7YUZNmbjRW7P0pBNCmmSYcA-Ngt3F7~mcluVzoFSUmt6hO9H3OtLyujBINfRONVeTWgCsh04ntWzPzI3NoobFf-x2GEIaB4bj3mdDOt77nlwFLvDR1aCjzQdX9tD9DMr1KSlPwdbhRPS6J3TjtnZGyNEh77WldTayYEhyqSarLAuNH40OX8ph2OcpcLou5eiWSQW4C8ktxttv9I59WZYX0Tsk~mMxFa9GgMtIdbe9Q) ; /* Replace 'your_image_url_here.jpg' with the URL of your background image */
    background-size: cover;
   
    width: 100%;
height: 896px;
padding-bottom: 50px;



}
#firsthead{
   
    display: flex;
     justify-content: space-between;
}
#artjunk{
    font-family: sans-serif;
font-size: 20px;
font-weight: 900;
padding-left: 16px;
color: #FFFFFF;

    
}
#rectangle{
    color: #FFFFFF;
   align-self: flex-start;
  font-size: 3rem;

  text-align:left;
}

#menusign{
   font-size: xx-large;
   font-weight: 900;
padding-top: 28px;
padding-right: 16px;
color: #FFFFFF;

}
#textbox{
    display: flex;
    flex-direction: column;
   
    /* This centers the div horizontally */
    text-align: left; /* This aligns the text inside the div to the left */
      padding-top: 70px;
      padding-left: 20px;
      
}

#artpiece{
    font-family: Libre Caslon Display;
font-size: 3rem;
font-weight: 400;
color: #FFFFFF;


}
#artpiece>h3{
    margin-bottom: 16px;
}
#artsentence{
    font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.25rem;
font-weight:150px ;


color: #ffffff;


}
#buttondiv{
    
    padding-top: 10px;
}
#learnbutton{
    width: 130px;
height: 40px;
 
      font-size:20px; 
   border: 2px solid ;
border-radius: 5px;
     background-color: transparent;
    cursor: pointer;
    color: #FFFFFF
}
.bottom-div{
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    padding-bottom: 30px;
    border: 1px solid lightgrey ;

}
#news-read{
    padding: 70px 0 40px 30px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Libre Caslon Display;
}
.castle{
    width: 100%;
height: 280px;px;
border-radius: 4px;

}
.date{
    font-family: Inter;
font-size: 13px;
font-weight: 500;
text-align: left;
color: #B7B7B7;
}

.bottom-sentence{
    font-family: Inter;
font-size: 12px;
font-weight: 700;
text-align: left;

}


.links{
    font-family: Inter;
font-size: 15px;
font-weight: 500;

text-align: right;
color: #050505;

}
.date-sent-link{
    padding: 20px;
}

@media screen and (min-width: 576px) {
    html {
     #imagepart{
        width: 100%;
     }
     
    #textbox{
        margin:0 auto;
        max-width:80%;
    }
    #bottom-whole{
        display :flex;
        flex-direction: row;
        justify-content: space-evenly;
      
    }
    .bottom-div{
        width: 30%;
        margin:0;

    }
    .castle{
        width: 100%;
       hieght:250px;

    }

}






